<div class="well">
    <h4>The Universe is the totality of everything that exists, has existed, or ever will exist.</h4>
    <p>The Q&A site is dedicated to questions about the history of the Universe</p>
</div>

<div class="container">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">neilcatman@worldofmeow.com asked:</h4>
            Massacre a bird in the living room and then look like the cutest and most innocent 
            animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
            mouse in food bowl run out of litter box at full speed.

            <div>
                <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">neilcatman@worldofmeow.com asked:</h4>
            Massacre a bird in the living room and then look like the cutest and most innocent 
            animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
            mouse in food bowl run out of litter box at full speed.

            <div>
                <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">neilcatman@worldofmeow.com asked:</h4>
            Massacre a bird in the living room and then look like the cutest and most innocent 
            animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
            mouse in food bowl run out of litter box at full speed.

            <div>
                <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
            </div>
        </div>
    </div>
</div>