<div class="container">
    <div class="lead well">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">neilcatman@worldofmeow.com asked:</h4>
                Massacre a bird in the living room and then look like the cutest and most innocent 
                animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
                mouse in food bowl run out of litter box at full speed.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div>
                <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
            </div>

            <%= render 'home/new_answer_form' %>

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">neilcatman@worldofmeow.com answered:</h4>
                    Massacre a bird in the living room and then look like the cutest and most innocent 
                    animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
                    mouse in food bowl run out of litter box at full speed.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">neilcatman@worldofmeow.com answered:</h4>
                    Massacre a bird in the living room and then look like the cutest and most innocent 
                    animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
                    mouse in food bowl run out of litter box at full speed.
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://lorempixel.com/100/100/cats" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">neilcatman@worldofmeow.com answered:</h4>
                    Massacre a bird in the living room and then look like the cutest and most innocent 
                    animal on the planet damn that dog but howl uncontrollably for no reason yet put toy 
                    mouse in food bowl run out of litter box at full speed.
                </div>
            </div>
        </div>
    </div>
</div>